In [15]:
import pandas as pd
from statsmodels.stats.anova import anova_lm
from statsmodels.formula.api import ols
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [16]:
agr = pd.read_csv(r"C:/Hogwarts/advanced_analytics/Datasets/Yield.csv")

In [17]:
agr_ols = ols('Yield ~ Treatments', data = agr).fit()

In [18]:
table = anova_lm(agr_ols, typ = 2) #type 2 layout in syllabi
print(table)

                 sum_sq    df          F    PR(>F)
Treatments  1551.607762   3.0  18.293252  0.000006
Residual     565.457238  20.0        NaN       NaN

In [20]:
compare = pairwise_tukeyhsd(agr['Yield'],
                            agr['Treatments'], alpha = 0.05)

In [22]:
dd = pd.DataFrame(compare._results_table.data)
dd

        0       1         2       3        4        5       6
0  group1  group2  meandiff   p-adj    lower    upper  reject
1       I      II   13.0976  0.0014   4.8177  21.3775    True
2       I     III   -0.6567  0.9969  -9.6685   8.3552   False
3       I      IV      18.1  0.0001   9.5075  26.6925    True
4      II     III  -13.7543  0.0014 -22.4686  -5.0399    True
5      II      IV    5.0024  0.3541  -3.2775  13.2823   False
6     III      IV   18.7567  0.0001   9.7448  27.7685    True

In [23]:
agr.groupby('Treatments')['Yield'].mean()

Treatments
I      23.716667
II     36.814286
III    23.060000
IV     41.816667
Name: Yield, dtype: float64