In [40]:
import pandas as pd
from scipy.stats import chi2_contingency

import pandas as pd
from statsmodels.stats.anova import anova_lm
from statsmodels.formula.api import ols
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [41]:
car = pd.read_csv(r"C:/Hogwarts/advanced_analytics/Datasets/cars93.csv")

In [42]:
car.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,13.2,5,177,102,68,37,26.5,11.0,2705,non-USA
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,18.0,5,195,115,71,38,30.0,15.0,3560,non-USA
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,16.9,5,180,102,67,37,28.0,14.0,3375,non-USA
3,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver & Passenger,Front,...,21.1,6,193,106,70,37,31.0,17.0,3405,non-USA
4,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,Rear,...,21.1,4,186,109,69,39,27.0,13.0,3640,non-USA

In [43]:
car.columns

Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin'],
      dtype='object')

## Price by type

In [44]:
type_ols1 = ols('Price ~ Type', data = car).fit()

In [45]:
table1 = anova_lm(type_ols, typ = 2)
print(table1)

               sum_sq    df          F        PR(>F)
Type      3421.435111   5.0  11.531618  1.476999e-08
Residual  5162.586180  87.0        NaN           NaN

#### Conclusion : Price is affected by type

## Price by Airbag

In [46]:
airbag_ols = ols('Price ~ AirBags', data = car).fit()

In [47]:
table2 = anova_lm(airbag_ols, type = 2)
print(table2)

            df       sum_sq      mean_sq          F        PR(>F)
AirBags    2.0  2746.983995  1373.491997  21.177572  2.901187e-08
Residual  90.0  5837.037296    64.855970        NaN           NaN

## Price by  DriveTrain

In [48]:
drv_t_ols = ols('Price ~ DriveTrain', data = car).fit()

In [49]:
table3 = anova_lm(drv_t_ols, type = 2)
table3

              df      sum_sq    mean_sq          F    PR(>F)
DriveTrain   2.0  1722.28626  861.14313  11.294939  0.000042
Residual    90.0  6861.73503   76.24150        NaN       NaN

## Types by  Airbags

In [54]:
ctab1 = pd.crosstab(car['Type'], car['AirBags'])
ctab1

AirBags  Driver & Passenger  Driver only  None
Type
Compact                   2            9     5
Large                     4            7     0
Midsize                   7           11     4
Small                     0            5    16
Sporty                    3            8     3
Van                       0            3     6

In [55]:
test_statistic, p_value, df, expected_frequencies = chi2_contingency(ctab1)
print("p value : ", p_value)

p value :  0.000272287749055816

### Price influenced by Airbag?

In [56]:
ctab2 = pd.crosstab(car['Price'], car['DriveTrain'])
ctab2

DriveTrain  4WD  Front  Rear
Price
7.4           0      1     0
8.0           0      1     0
8.3           0      1     0
8.4           1      1     0
8.6           0      1     0
...         ...    ...   ...
37.7          0      1     0
38.0          0      0     1
40.1          0      1     0
47.9          0      0     1
61.9          0      0     1

[81 rows x 3 columns]

In [61]:
test_statistic, p_value, df, expected_frequencies = chi2_contingency(ctab2)
print("p value : ", p_value)

p value :  0.5385883625743184

### Price vs Origin related?

In [59]:
ctab3 = pd.crosstab(car['Price'], car['Origin'])
ctab3

Origin  USA  non-USA
Price
7.4       1        0
8.0       0        1
8.3       0        1
8.4       0        2
8.6       0        1
...     ...      ...
37.7      0        1
38.0      1        0
40.1      1        0
47.9      0        1
61.9      0        1

[81 rows x 2 columns]

In [62]:
test_statistic, p_value, df, expected_frquencies = chi2_contingency(ctab3)
print(p_value)

0.3488611496435351