In [1]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [2]:
sal = pd.read_csv(r"C:/Hogwarts/advanced_analytics/Datasets/Exp_Salaries.csv")

In [5]:
dum_sal = pd.get_dummies(sal, drop_first = True)

In [11]:
dum_sal.head()

,Salary,Years_Previous_Experience,Years_Employed,Years_Education,Number_Supervised,Gender_Male,Department_B,Department_C,Department_D
0,32782,1,0,7,0,1,0,0,0
1,32920,3,15,9,4,0,0,0,0
2,29548,6,5,1,0,1,0,0,0
3,39828,6,18,5,5,0,0,0,0
4,31528,11,3,3,6,1,0,0,0

In [6]:
lr = LinearRegression()

In [7]:
X = dum_sal.drop('Salary', axis =1)
y = dum_sal['Salary']

In [8]:
lr.fit(X, y)
print(lr.intercept_)
print(lr.coef_)

17272.939239107676
[ -72.80328327  709.4545611  1544.51873329  130.16686237 2040.25402235
 8455.62629126 5049.07503746 8096.04569535]

In [9]:
y_pred = lr.predict(X)

In [10]:
print(r2_score(y, y_pred))

0.8530532047266131

In [13]:
sal_to_pred = pd.read_csv(r"C:/Hogwarts/advanced_analytics/Datasets/SalsToPredict.csv")

In [16]:
dum_pred = pd.get_dummies(sal_to_pred, drop_first= True)

In [17]:
predictions = lr.predict(dum_pred)