In [1]:
import pandas as pd
from scipy.stats import ttest_rel

In [3]:
anrx = pd.read_csv(r"C:/Hogwarts/advanced_analytics/working_datasets/anorexia.csv")

In [24]:
anrx

   Treat  Prewt  Postwt
0   Cont   80.7    80.2
1   Cont   89.4    80.1
2   Cont   91.8    86.4
3   Cont   74.0    86.3
4   Cont   78.1    76.1
..   ...    ...     ...
67    FT   77.6    90.7
68    FT   83.5    92.5
69    FT   89.9    93.8
70    FT   86.0    91.7
71    FT   87.3    98.0

[72 rows x 3 columns]

In [23]:
cont = anrx[anrx['Treat']=='Cont']
# cont is variable whereas Cont is data in Treat column

In [22]:
ttest_rel(cont['Prewt'], cont['Postwt'],
         alternative="less")

Ttest_relResult(statistic=0.2872253910150255, pvalue=0.6118464688902916)

In [25]:
ft = anrx[ anrx['Treat'] == 'FT' ]

In [26]:
ttest_rel(ft['Prewt'], ft['Postwt'],
         alternative = "less")

Ttest_relResult(statistic=-4.184908135290033, pvalue=0.00035012655280026967)