In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [2]:
bos = pd.read_csv(r"C:\Users\admin\Desktop\Datasets\boston.csv",
                  index_col = 0)

In [4]:
bos.head()

,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
crim,,,,,,,,,,,,,
0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [8]:
scaler = StandardScaler()
bos_scaled = scaler.fit_transform(bos)

In [11]:
sil = []

for i in range (2,10):
    km = KMeans(n_clusters = i,
               random_state = 2022)
    km.fit(bos_scaled)
    labels = km.predict(bos_scaled)
    sil.append(silhouette_score(bos_scaled, labels))

In [12]:
Ks = np.arange(2,10)
i_max = np.argmax(sil)
print(i_max)
best_k = Ks[i_max]

print("Best k: ", best_k)
# for loop from 2 so refer above working
print(sil[i_max])

0
Best k:  2
0.3363036803071458

In [13]:
km = KMeans(n_clusters=4,
           random_state=2022)
km.fit(bos_scaled)
labels = km.predict(bos_scaled)

In [14]:
bos["Cluster"] = labels
bos.sort_values("Cluster", inplace=True)
bos

,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv,Cluster
crim,,,,,,,,,,,,,,
0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,0
0.13642,0.0,10.59,0,0.489,5.891,22.3,3.9454,4,277,18.6,396.90,10.87,22.6,0
0.22969,0.0,10.59,0,0.489,6.326,52.5,4.3549,4,277,18.6,394.87,10.97,24.4,0
0.25199,0.0,10.59,0,0.489,5.783,72.7,4.3549,4,277,18.6,389.43,18.06,22.5,0
0.14052,0.0,10.59,0,0.489,6.375,32.3,3.9454,4,277,18.6,385.81,9.38,28.1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0.03502,80.0,4.95,0,0.411,6.861,27.9,5.1167,4,245,19.2,396.90,3.33,28.5,3
0.07886,80.0,4.95,0,0.411,7.148,27.7,5.1167,4,245,19.2,396.90,3.56,37.3,3
0.03615,80.0,4.95,0,0.411,6.630,23.4,5.1167,4,245,19.2,396.90,4.70,27.9,3
0.01501,90.0,1.21,1,0.401,7.923,24.8,5.8850,1,198,13.6,395.52,3.16,50.0,3
0.08221,22.0,5.86,0,0.431,6.957,6.8,8.9067,7,330,19.1,386.09,3.53,29.6,3

In [15]:
bos.groupby("Cluster").mean()

,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
Cluster,,,,,,,,,,,,,
0,3.708333,8.485463,0.000000,0.511759,6.231958,66.021759,4.003271,4.453704,305.259259,18.292130,382.717500,11.028241,22.919444
1,0.000000,18.972848,0.000000,0.677532,5.941215,91.267089,2.014493,19.746835,619.658228,19.860127,297.698734,19.274873,15.628481
2,5.294118,13.057647,1.000000,0.599085,6.478324,79.050000,2.945729,9.558824,391.794118,17.605882,372.335000,11.479412,27.805882
3,48.663265,3.680408,0.010204,0.435886,6.887214,33.982653,6.501432,4.336735,300.051020,16.845918,388.921327,5.965510,30.982653