In [8]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [25]:
wed = pd.read_excel(r"C:\Hogwarts\advanced_analytics\Excel Datasets\eba3e_datasets_xls\Weddings.xlsx",
                    usecols="A:F",
                    skiprows = 2)

In [26]:
wed.head()

,Couple's Income,Bride's age,Payor,Wedding cost,Attendance,Value Rating
0,130000,22,Bride's Parents,60700,300,3
1,157000,23,Bride's Parents,52000,350,1
2,98000,27,Bride & Groom,47000,150,3
3,72000,29,Bride & Groom,42000,200,5
4,86000,25,Bride's Parents,34000,250,3

In [27]:
X = wed[['Wedding cost']]
y = wed['Attendance']

regressor = LinearRegression()
regressor.fit(X, y)

print(regressor.coef_)
print(regressor.intercept_)

[0.00413244]
77.18464917343564

In [31]:
X2 = wed[["Wedding cost"]]
y2 = wed["Value Rating"]

regressor2 = LinearRegression()
regressor2.fit(X2, y2)


print(regressor2.coef_)
print(regressor2.intercept_)

[-5.56057076e-06]
3.3037296330308554

In [34]:
X3 = wed[["Wedding cost"]]
y3 = wed["Couple's Income"]

regressor3 = LinearRegression()
regressor3.fit(X2, y2)


print(regressor3.coef_)
print(regressor3.intercept_)

[-5.56057076e-06]
3.3037296330308554