In [1]:
import pandas as pd
from scipy.stats import ttest_rel

In [4]:
plq = pd.read_csv(r"C:/Hogwarts/advanced_analytics/Datasets/Plaque.csv")

In [5]:
plq

     Id product     trt  score
0     1      P1  Before    3.0
1     2      P1  Before    4.0
2     3      P1  Before    4.1
3     4      P1  Before    3.6
4     5      P1  Before    4.1
..   ..     ...     ...    ...
115  16      P3   After    2.9
116  17      P3   After    2.6
117  18      P3   After    3.4
118  19      P3   After    3.6
119  20      P3   After    3.5

[120 rows x 4 columns]

In [21]:
plq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Id       120 non-null    int64
 1   product  120 non-null    object
 2   trt      120 non-null    object
 3   score    120 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.9+ KB

### Pivoting the data

In [22]:
plq_pivot = pd.pivot_table(plq,
                          index= ['Id','product'],
                          columns='trt',
                          values='score')
plq_pivot.head()

trt         After  Before
Id product
1  P1         2.3     3.0
   P2         2.5     3.6
   P3         3.9     3.8
2  P1         2.2     4.0
   P2         2.3     4.4

In [23]:
plq_pivot = plq_pivot.reset_index()

### For P1

In [24]:
p1 = plq_pivot[ plq_pivot['product']=="P1"]

In [25]:
ttest_rel( p1['Before'], p1['After'],
         alternative="greater")

Ttest_relResult(statistic=6.098077102046814, pvalue=3.648006849207915e-06)

### For P2

In [26]:
p2 = plq_pivot[ plq_pivot['product']=="P2"]

In [27]:
ttest_rel( p2['Before'], p2['After'],
         alternative="greater")

Ttest_relResult(statistic=5.137722236827655, pvalue=2.9252117932341204e-05)

### For P3

In [28]:
p3 = plq_pivot[ plq_pivot['product']=="P3"]

In [29]:
ttest_rel( p2['Before'], p2['After'],
         alternative="greater")

Ttest_relResult(statistic=5.137722236827655, pvalue=2.9252117932341204e-05)