In [12]:
import pandas as pd
from scipy.stats import ttest_rel

In [13]:
rh = pd.read_csv(r"C:/Hogwarts/advanced_analytics/working_datasets/Rheumatic.csv")

In [5]:
rh

   Before  After
0     102    132
1      89    116
2      32     50
3      82     82
4      36     61
5      56     64
6      79     92

In [15]:
ttest_rel(rh['Before'], rh['After'],
          alternative="less")
# Before - After

Ttest_relResult(statistic=-4.176554325821337, pvalue=0.0029179069531987257)