In [10]:
import pandas as pd
from scipy.stats import bartlett, ttest_ind

In [11]:
co2 = pd.read_csv(r"C:/Hogwarts/advanced_analytics/Datasets/CO2.csv")

In [12]:
co2

   Plant         Type   Treatment  conc  uptake
0    Qn1       Quebec  nonchilled    95    16.0
1    Qn1       Quebec  nonchilled   175    30.4
2    Qn1       Quebec  nonchilled   250    34.8
3    Qn1       Quebec  nonchilled   350    37.2
4    Qn1       Quebec  nonchilled   500    35.3
..   ...          ...         ...   ...     ...
79   Mc3  Mississippi     chilled   250    17.9
80   Mc3  Mississippi     chilled   350    17.9
81   Mc3  Mississippi     chilled   500    17.9
82   Mc3  Mississippi     chilled   675    18.9
83   Mc3  Mississippi     chilled  1000    19.9

[84 rows x 5 columns]

In [13]:
chill = co2[ co2['Treatment'] == "chilled"]

In [14]:
non_chill = co2[ co2['Treatment'] == "nonchilled"]

In [15]:
bartlett(chill['uptake'], non_chill['uptake'])

BartlettResult(statistic=0.5315695885641828, pvalue=0.46594771841246396)