In [1]:
import pandas as pd
from statsmodels.stats.anova import anova_lm
from statsmodels.formula.api import ols
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [4]:
pg = pd.read_csv(r"C:/Hogwarts/advanced_analytics/Datasets/PlantGrowth.csv")

In [6]:
pg.head()

   weight group
0    4.17  ctrl
1    5.58  ctrl
2    5.18  ctrl
3    6.11  ctrl
4    4.50  ctrl

In [8]:
pg_ols = ols('weight ~ group', data = pg).fit()

In [12]:
table = anova_lm(pg_ols, typ = 2) #type 2 layout in syllabi
print(table)

            sum_sq    df         F   PR(>F)
group      3.76634   2.0  4.846088  0.01591
Residual  10.49209  27.0       NaN      NaN

In [14]:
compare = pairwise_tukeyhsd(pg['weight'],
                            pg['group'], alpha = 0.05)

In [15]:
dd = pd.DataFrame(compare._results_table.data)
dd

        0       1         2       3       4       5       6
0  group1  group2  meandiff   p-adj   lower   upper  reject
1    ctrl    trt1    -0.371  0.3909 -1.0622  0.3202   False
2    ctrl    trt2     0.494   0.198 -0.1972  1.1852   False
3    trt1    trt2     0.865   0.012  0.1738  1.5562    True